/* app css stylesheet */
/* line 3, ../scss/app.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 7, ../scss/app.scss */
#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
/* line 16, ../scss/app.scss */
#overlay .loading {
  top: 35%;
  position: relative;
  height: 0px;
}
/* line 21, ../scss/app.scss */
#overlay .loading img {
  margin: 0 auto;
  display: block;
}

/* line 28, ../scss/app.scss */
#social_panel {
  position: relative;
  width: 266px;
  margin: 0 auto;
}
/* line 33, ../scss/app.scss */
#social_panel ul {
  list-style-type: none;
  margin: 0 0 0px 25px;
}
/* line 37, ../scss/app.scss */
#social_panel ul li {
  display: inline;
  float: left;
  padding: 6px;
  margin: 2px;
}

/* line 46, ../scss/app.scss */
#container {
  margin-top: 88px;
}
/* line 49, ../scss/app.scss */
#container #video-container {
  width: 50%;
}
/* line 52, ../scss/app.scss */
#container #video-container h3 {
  display: inline;
}
/* line 56, ../scss/app.scss */
#container #video-container form {
  margin-top: 5px;
  margin-left: 10px;
}
/* line 60, ../scss/app.scss */
#container #video-container form #videoUrl {
  width: 270px;
}
/* line 66, ../scss/app.scss */
#container #video-container #no-video {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 72, ../scss/app.scss */
#container #video-container form label {
  display: inline;
}
/* line 76, ../scss/app.scss */
#container #video-container form input[type="submit"] {
  margin-bottom: 10px;
}
/* line 82, ../scss/app.scss */
#container #video-container video {
  width: 100%;
}
/* line 86, ../scss/app.scss */
#container #video-container #shortcuts {
  padding: 19px 29px 29px;
  margin: 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 100, ../scss/app.scss */
#container #editor-container {
  width: 50%;
  float: right;
}
/* line 104, ../scss/app.scss */
#container #editor-container #editor-info-bar {
  position: absolute;
  top: 85px;
  bottom: 0px;
  left: 50%;
  right: 0px;
}
/* line 112, ../scss/app.scss */
#container #editor-container #editor {
  position: absolute;
  top: 150px;
  bottom: 0px;
  left: 50%;
  right: 0px;
  height: 77%;
}

/* line 123, ../scss/app.scss */
#doc-bar {
  line-height: 27px;
}

/* line 127, ../scss/app.scss */
.doc-title {
  display: inline;
  padding-right: 12px;
}

/* line 132, ../scss/app.scss */
.star {
  font-size: 22px;
  color: black;
}

/* line 137, ../scss/app.scss */
.icon-star {
  color: yellow;
  -webkit-text-stroke: 1px black;
}

/* line 142, ../scss/app.scss */
.profile-picture {
  width: 22px;
}

/* line 146, ../scss/app.scss */
#error {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 152, ../scss/app.scss */
body {
  height: 100%;
}

/* line 156, ../scss/app.scss */
.subnav {
  margin-bottom: 0px;
}

/* line 160, ../scss/app.scss */
.subnav .nav > li > a {
  color: #333;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 166, ../scss/app.scss */
.subnav .nav > li > a:hover {
  background-color: #F5F5F5;
  color: #333;
}

/* line 170, ../scss/app.scss */
.dropdown-menu span {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

/* line 180, ../scss/app.scss */
.view {
  margin-top: 25px;
}
