<!--div id="title" class="row-fluid" ng-controller="TitleCtrl">
    <h3 class="span6">The video</h3>

    <div class="span6">

    </div>
</div-->
<div class="row-fluid">
    <!-- Left part of the screen -->
    <div id="left" class="span6">
        <div id="video-container" ng-controller="VideoCtrl">
            <div id="video-title" class="title">
                <img src="/img/logo-video.png">

                <h3>Video</h3>
                <h4>(press ctrl and space to play/pause)</h4>
            </div>
            <div id="video-body">
                <form id="video-url-form" ng-submit="submitVideo()">
                    <div class="row-fluid">
                        <input type="url" id="videoUrl" name="videoUrl" class="span9" placeholder="Enter the video URL"
                               ng-model="videoUrl" required>

                        <div class="span3 pull-right" style="margin-left: 0px;">
                            <input type="submit" class="btn btn-primary pull-right" value="Load video"
                                   ng-hide="loading">
                            <img class="loading pull-right" src="/img/loading.gif" ng-show="loading">
                        </div>
                    </div>
                    <div class="row-fluid" ng-show="videoStatus.error || !doc.info.video">
                        <a id="help-coursera-dialog-link" class="span8" data-toggle="modal" href="#help-coursera-dialog"
                            ng-click="pushAnalytics('Video','help Coursera')"><h4>Help for
                            Coursera</h4></a>

                        <div class="modal hide" id="help-coursera-dialog" ng-controller="RenameCtrl">
                            <div class="modal-header">
                                <h3>How to find the video URL on Coursera?</h3>
                            </div>
                            <div class="modal-body">
                                <img ng-show="canReadH264" src="/img/video_url.png">
                                <img ng-show="!canReadH264" src="/img/video_url_no_h264.png">
                            </div>
                            <div class="modal-footer">
                                <h4>Don't forget to be enrolled and login on Coursera first!</h4>
                                <a href class="btn btn-primary" data-dismiss="modal">Got it!</a>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="no-video" ng-hide="doc.info.video">
                    <h1 class="or">OR</h1>
                    <div class="load-sample-video-container">
                        <a id="load-sample-video" href class="btn btn-primary btn-large" ng-click="loadSampleVideo()">Load a
                            sample video</a>
                    </div>
                </div>

                <div class="video row-fluid" ng-show="doc.info.video">
                    <div class="span12">
                        <img class="loading" src="/img/loading.gif" ng-show="loading">

                        <div ng-hide="loading">
                            <video ng-hide="youtubeVideo" controls

                                   html5-video-player="doc.info.video"></video>
                            <div ng-show="youtubeVideo">
                                <div id="ytplayer"
                                     youtube-player="doc.info.video"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--div id="shortcuts-container">
            <div id="shortcuts-title">
                <h2>Shortcut</h2>
            </div>
            <div id="shortcuts-body">
                <ul>
                    <li><h4>Ctrl-Space: Pause the video</h4></li>
                </ul>
            </div>
        </div-->
    </div>

    <!-- Right part of the screen -->
    <div id="right">
        <div id="editor-container" class="span6" ng-controller="EditorCtrl">
            <div id="editor-title">
                <div class="row-fluid">

                    <div class="notes-title title pull-left span7">
                        <img src="/img/logo-notes.png" alt="notes logo">

                        <a href="#">
                            <h3 ng-show="doc.info.editable" ng-class="{'doc-title' : doc.info.editable}"
                                data-toggle="modal" href="#rename-dialog"
                                ><span data-toggle="tooltip" title="Click to change title" data-placement="right"
                                       bootstrap-tooltip>{{doc.info.title}}</span></h3>

                            <h3 ng-hide="doc.info.editable" ng-class="{docTitle : !doc.info.editable}">
                                {{doc.info.title}}</h3>
                        </a>
                    </div>

                    <p class="editor-state span5 pull-right">{{editor.state() | saveStateFormatter }}</p>
                </div>
                <!--star value="doc.info.labels.starred" click="editor.dirty(true)"></star-->

            </div>
            <div id="editor-info-bar">
                <div class="container-fluid">
                    <div id="doc-bar" class="row-fluid">

                    </div>
                    <div class="navbar subnav menu">
                        <ul ng-controller="MenuCtrl" class="nav">
                            <li data-toggle="tooltip" title="Create new notes" data-placement="bottom" bootstrap-tooltip>
                                <a class="icon-large icon-file" target="_blank" href="/#/edit/"></a></li>
                            <li data-toggle="tooltip" title="Open notes" data-placement="bottom" bootstrap-tooltip><a
                                    class="icon-large icon-folder-open" ng-click="open()" href></a></li>
                            <li data-toggle="tooltip" title="Save notes (ctrl-s)" data-placement="bottom" bootstrap-tooltip><a
                                    class="icon-large icon-save" ng-click="save()" href></a></li>
                            <!--li data-toggle="tooltip" title="Share notes" data-placement="bottom"
                                bootstrap-tooltip ng-controller="ShareCtrl">
                                <a class="icon-large icon-share" ng-class="{disabled:!enabled()}" href ng-click="enabled() && share()"></a>
                            </li-->
                            <li class="menu-help" data-toggle="tooltip" title="Help" data-placement="bottom"
                                bootstrap-tooltip>
                                <a class="icon-large icon-question-sign" href ng-click="restartTour()"></a></li>
                            <li class="menu-switch-sync" data-toggle="tooltip" title="Switch sync (ctrl-alt-s)"
                                data-placement="bottom" bootstrap-tooltip>
                                <bootstrap-switch id="sync-switch" property="sync.enabled"></bootstrap-switch>
                            </li>
                            <!--li><a href="#about-dialog" data-toggle="modal">About</a></li-->
                        </ul>
                    </div>
                </div>

                <div class="modal hide" id="rename-dialog" ng-controller="RenameCtrl">
                    <form>
                        <div class="modal-header">
                            <h3>Rename File</h3>
                        </div>
                        <div class="modal-body">
                            <label>Enter a new file name:</label>
                            <input type="text" ng-model="newFileName" autofocus required/>
                        </div>
                        <div class="modal-footer">
                            <a href class="btn" data-dismiss="modal">Cancel</a>
                            <input type="submit" value="Save" ng-click="save()" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

                <div class="modal hide" id="about-dialog" ng-controller="AboutCtrl">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">?</button>
                        <h3>About</h3>
                    </div>
                    <div class="modal-body">
                        <div><b>Total Drive Quota:</b> {{info.quotaBytesTotal | bytes}}</div>
                        <div><b>Drive Quota Used:</b> {{info.quotaBytesUsed | bytes}}</div>
                    </div>
                    <div class="modal-footer">
                        <a href class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>

            <div id="editor" ace-editor sync="sync.enabled"></div>

            <alert id="error"></alert>
        </div>
    </div>
</div>