<div id="home">
    <section class="product">
        <div class="container">
            <div class="title row-fluid">
                <div class="span12">
                    <h2>The easiest way to take notes from videos, everything <span class="emphaze">synchronized</span>!
                    </h2>
                </div>
            </div>
        </div>

        <div class="body row-fluid">
            <div class="container">
                <div class="span8"><img src="/img/screenshot.png" alt="{{appName}}"/></div>
                <div class="span4 signin">
                    <a class="btn btn-primary btn-large " ng-click="auth()">Create your notes</a>
                    <h4 class="integrated-with-drive">Integrated with</h4><img class="drive-logo" src="/img/drive_icon.png"
                </div>
            </div>
        </div>
    </section>
    <section class="external">
        <div class="container">
            <div class="partners row-fluid">
                <div class="span1"></div>
                <div class="span2">
                    <img class="coursera partner" src="/img/coursera_logo.png" alt="Coursera"/>
                </div>

                <div class="span2">
                    <img class="partner" src="/img/udacity_logo.png" alt="Udacity"/>
                </div>

                <div class="span2">
                    <img class="partner edx" src="/img/edx_logo.png" alt="edX"/>
                </div>

                <div class="span2">
                    <img class="partner khan" src="/img/khan_academy_logo.png" alt="edX"/>
                </div>

                <div class="span2">
                    <img class="partner youtube" src="/img/youtube_logo.png" alt="Youtube"/>
                </div>
                <div class="span1"></div>
            </div>

            <div class="users_feedbacks">
                <h3 class="user_feedback">“That&apos;s amazing! I would lose so much time pausing the video, opening Evernote and taking
                    notes.”
                    Alexandros</h3>

                <h3 class="user_feedback">“This is very nicely done. The time code links and automatic saving to my Gdrive makes this a very
                    useful app.”
                    Jim</h3>

                <h3 class="user_feedback">“This is the best note taking tool I have ever seen! Thanks!” Jaclyn</h3>
            </div>
        </div>
    </section>
</div>
