<!DOCTYPE html>
<html lang="en" ng-app="app" class="no-js" ng-controller="AppCtrl">
<head>
    <!-- Le styles -->
    <title>VideoNot.es</title>
    <meta property="og:title" content="VideoNot.es"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://videonot.es/"/>
    <meta property="og:image" content="http://videonot.es/img/logo.png"/>
    <meta property="og:site_name" content="VideoNot.es"/>
    <meta property="fb:admins" content="1312243132,726961638"/>
    <meta property="og:description" content="The easiest way to take notes from videos. Everything synchronized!"/>
    <meta name="google-site-verification" content="0qf1eWlI4Ee40rpKb4fpwYUUft__GxqwkhGeQKcp4BE" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    {% if production == True %}
    <link href="/css/build/videonotes.min.css" rel="stylesheet">
    {% else %}
    <link href="/css/bootstrap.icon-large.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/bootstrap-switch/bootstrapSwitch.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    {% endif %}
    <link rel="icon" type="image/png" href="/img/favicon.ico">
</head>
<body ng-cloak class="ng-cloak" ui-keydown="{'ctrl-space ctrl-alt-83 ctrl-83 ctrl-79 meta-83 meta-79':'shortcuts($event)'}">
<div id="fb-root"></div>
<header>
    {% raw %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#" alt="{{appName}}" tooltip="Click me for help!" tooltip-placement="right" ng-click="restartTour()">
                    <img src="/img/logo-header.png">
                    <img src="/img/logo-appname-header.png">
                </a>
                <ul class="nav pull-right">
                    <li>
                        <ul class="nav pull-right" ng-controller="UserCtrl">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{user.email}}
                                    <img class="profile-picture" src="{{user.picture}}"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{user.link}}" target="_blank">Profile</a></li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav">
                            <li class="social-button width-75"><div class="g-plusone" href="https://plus.google.com/u/0/112441181479806615038" data-size="medium"></div></li>
                            <li class="social-button width-75"><a href="https://twitter.com/share" data-count="horizontal" data-url="http://videonot.es" class="twitter-share-button" data-via="videonotes" data-lang="en" data-hashtags="mooc"
                                                         data-text="I'm taking note while watching my online course. Want to try?">Tweeter</a></li>
                            <li class="social-button">
                                <div class="fb-like" data-href="https://www.facebook.com/pages/Videonotes/346878492080788" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endraw %}
</header>


<div id="overlay" class="sign-in" ng-controller="OverlayCtrl" ng-show="loading">
    <div class="loading">
        <img src="/img/loading.gif">
    </div>
</div>

<div id="container" ng-view></div>

<script>
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/YfqwlCzSlsX9nNNFc6lpCA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()

    <!-- A tab to launch the Classic Widget -->
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
            mode: 'full',
            primary_color: '#cc6d00',
            link_color: '#007dbf',
            default_mode: 'support',
            forum_id: 202540,
            tab_label: 'Feedback & Support',
            tab_color: '#ffbf00',
            tab_position: 'bottom-left',
            tab_inverted: false
        }]);

    // Twitter button
    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");

    // Google + 1 button
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script src="https://www.google.com/jsapi"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{% if production == True %}
<script src="/js/build/videonotes.min.js"></script>
{% else %}
<script src="/lib/angular-ui-custom/angular-ui.js"></script>
<script src="/lib/angular-ui-bootstrap-custom/ui-bootstrap-custom-tpls-0.3.0.js"></script>
<script src="/lib/modernizr-custom/modernizr.min.js"></script>
<script src="/lib/detectizr/detectizr.js"></script>
<script src="/lib/angular-gaq/angular-gaq.js"></script>
<script src="/lib/angular-youtube/angular-youtube-player-api.js"></script>
<script src="/lib/ace/ace.min.js" charset="utf-8"></script>
<script src="/lib/bootstrap-tour/bootstrap-tour.js" charset="utf-8"></script>
<script src="/lib/bootstrap-tour/deps/jquery.cookie.js" charset="utf-8"></script>
<script src="/lib/bootstrap-switch/bootstrapSwitch.js" charset="utf-8"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
{% endif %}
</body>
</html>