/* app css stylesheet */

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../font/bebasneue-webfont.eot');
  src: url('../font/bebasneue-webfont.eot?#iefix') format("embedded-opentype"), url('../font/bebasneue-webfont.woff') format("woff"), url('../font/bebasneue-webfont.ttf') format("truetype"), url('../font/bebasneue-webfont.svg#BebasNeueRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

h2, h3, h4 {
  font-family: BebasNeueRegular;
}

#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  .loading {
    top:35%;

    position: relative;
    height: 0px;
    img {
      margin: 0 auto;
      display: block;
    }
  }
}

#social_panel {
  position : relative;
  width: 266px;
  margin: 0 auto;

  ul {
    list-style-type : none;
    margin: 0 0 0px 25px;

    li {
      display: inline;
      float: left;
      padding : 6px;
      margin : 2px;
    }
  }
}

#container {
  margin-top: 88px;

  #video-container {
    width: 50%;

    h3 {
      display: inline;
    }

    form {
      margin-top: 5px;
      margin-left: 10px;

      #videoUrl {
        width: 325px;
      }

      .loading {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        margin-left: 15px;
      }

      label {
        display: inline;
      }

      input[type="submit"] {
        margin-bottom: 10px;
        margin-left: 10px;
      }
    }

    #no-video {
      margin-left: 10px;
      margin-right: 10px;
    }

    .video {
      .loading {
        display: block;
        margin: 0 auto;
      }

      video {
        width: 100%;
      }
    }

    #shortcuts {
      padding: 19px 29px 29px;
      margin: 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
      box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
  }

  #editor-container {
    width: 50%;
    float: right;

    #editor-info-bar {
      position: absolute;
      top: 85px;
      bottom: 0px;
      left: 50%;
      right: 0px;

      .docTitle {
        display:inline;
        padding-right: 12px;
      }

      .star {
        font-size: 22px;
        color: black;
      }

      .icon-star {
        color: yellow;
        -webkit-text-stroke: 1px black;
      }

      .editor-state {
        font-size: 13px;
        margin-top: 10px;
      }
    }

    #editor {
      position: absolute;
      top: 153px;
      bottom: 0px;
      left: 50%;
      right: 0px;
      height: 77%;

      .ace_gutter-cell.ace_breakpoint{
        border-radius: 20px 0px 0px 20px;
        box-shadow: 0px 0px 10px 1px #3781ee inset;
      }


    }
  }
}

#doc-bar {
  line-height: 27px;
}

.profile-picture {
  width: 22px;
}

#error {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

body {
  height: 100%;
}

.subnav {
  margin-bottom: 0px;
}

.subnav .nav > li > a {
  color: #333;
  padding-top: 2px;
  padding-bottom: 2px;
}

.subnav .nav > li > a:hover {
  background-color: #F5F5F5;
  color: #333;
}
.dropdown-menu span {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.view {
  margin-top: 25px;
}

.popover {
  z-index: 1031;
}