/* Home style */
@import "base";

#home {
  $margin-bottom: 75px;
  background: url("/img/background.jpg") no-repeat top center fixed;

  h1, h2, h4 {
    color: white;
  }

  section {
    margin-bottom: 60px;
  }

  .container-box {
    h2, h4 {
      color: black;
    }
  }

  .signin {
    .btn {
      display: block;
      margin: 0 auto;
      width: 315px;

      h4 {
        display: inline-block;
      }
    }
  }

  #hero {
    padding-top: 60px;

    h1 {
      color: white;
    }

    .signin {
      margin-top: 15px;

      .catch-phrase {
        text-align: center;
      }
    }
  }

  #works-with {
    width: 100%;

    .container-box {
      width: 100%;
      display: table;
      table-layout: fixed;

      .platforms {
        width: 100%;
        display: table-row;

        .platform {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 17%;
          margin-right: 15px;
          margin-bottom: 15px;

          img {
            &.udacity {
              margin-left: 55px;
            }

            &.edx {
              margin-left: 100px;
            }

            &.khan {
              margin-left: 70px;
            }

            &.vimeo {
              margin-left: 45px;
            }

            &.youtube {
              float: right;
            }
          }
        }
      }
    }

    * {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      height: 100%;
      width: 1px;
    }
  }

  #features {
    .container-box {
      padding: 30px 40px;

      h2, h4 {
        color: black;
      }
    }

    .feature {
      text-align: center;
      .description {
        margin-top: 20px;

        .description-details {
          position: relative;
          width: 80%;
          left: 10%;
          text-align: center;
        }
      }
    }

    .synchronized {
      margin-bottom: $margin-bottom;
    }

    .integrated-with-drive {
      text-align: right;
      margin-bottom: $margin-bottom;
    }

    .share {
      .description {
        margin-top: 50px;
      }
    }

    .signin {
      margin-top: 20px;
    }
  }

  #users-feedback {
    .quote_logo {
      width: 80%;
    }

    .container-box {
      padding-top: 20px;
      padding-bottom: 20px;

      .user-feedback {
        font-style: italic;
        margin-bottom: 20px;
        text-align: center;

        h4, h5 {
          display: inline;
          font-weight: normal;
        }

        &.last {
          margin-bottom: 0px;
        }
      }
    }
  }
}
