@import url(http://weloveiconfonts.com/api/?family=zocial);

/* Common values */
$main-blue-color: #3cbdee;
$main-orange-color: #F18A16;
$main-grey-color: #585858;
$main-yellow-color: #FFC000;

$text-color: #787975;

$font-family-helvetica-neue: "HelveticaNeue";
$font-family-museoslab: "MuseoSlab";


/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
